@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 250px;
}

h1 {
    text-transform: uppercase;
}

body {
    margin: 0;
    font-family: Open Sans, sans-serif;
}

.container {
    width:
}


